#frigateMainMenu {
    list-style-image: url("chrome://frigate2/content/im/38.png");
}

#frigateMainMenu[iconState='wait']
{
    list-style-image: url('chrome://frigate2/content/im/38w.png');
}
#frigateMainMenu[iconState='up']
{
    list-style-image: url('chrome://frigate2/content/im/38up.png');
}
#frigateMainMenu[iconState='active']
{
    list-style-image: url('chrome://frigate2/content/im/38.png');
}
#frigateMainMenu[iconState='activean']
{
    list-style-image: url('chrome://frigate2/content/im/38an.png');
}
#frigateMainMenu[iconState='inactive']
{
    list-style-image: url('chrome://frigate2/content/im/38g.png');
}
#frigateMainMenu[iconState='p']
{
    list-style-image: url('chrome://frigate2/content/im/38p.png');
}
#frigateMainMenu[iconState='pspdy']
{
    list-style-image: url('chrome://frigate2/content/im/38pspdy.png');
}
#frigateMainMenu[iconState='panspdy']
{
    list-style-image: url('chrome://frigate2/content/im/38panspdy.png');
}
#frigateMainMenu[iconState='l']
{
    list-style-image: url('chrome://frigate2/content/im/38l.png');
}
#frigateMainMenu[iconState='lan']
{
    list-style-image: url('chrome://frigate2/content/im/38lan.png');
}
#frigateMainMenu[iconState='pan']
{
    list-style-image: url('chrome://frigate2/content/im/38pan.png');
}
#frigateMainMenu[iconState='e']
{
    list-style-image: url('chrome://frigate2/content/im/38e.png');
}
.fgCaption {
    font-weight: bold;
}
.fgCaption2 {
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}
.fgCen {
    text-align: center;
}
.notif { 
    -moz-appearance:none !important;
    background-color:#FFCC66 !important;
}
